In [40]:
import json

import pandas as pd

In [41]:
# Read the file "../libs/pwibm/data/csv/MaPP_Dataset_final - Basic_portion.csv" into a pandas DataFrame
csv_df = pd.read_csv("../libs/pwibm/data/csv/MaPP_Dataset_final - Basic_portion.csv")
csv_sentences = csv_df["query"]
csv_sentences

0      The clip is about a horse.
1      The clip is about a queen.
2        The clip is about a cat.
3       The clip is about a king.
4     The clip is about a prince.
                  ...
89     I ate salad with pleasure.
90          I ate salad with him.
91         I ate salad with John.
92         I ate salad with Lisa.
93          I ate salad with her.
Name: query, Length: 94, dtype: object

In [42]:
with open("../libs/pwibm/data/queries/single_target/MaPP_all.txt", "r") as json_file:
    data = json.load(json_file)
txt_df = pd.DataFrame(data)
txt_sentences = txt_df["target1"]
txt_sentences

0       The event is in London.
1         The event is in here.
2       The event is in Paris.
3       The event is in there.
4      The event is in Canada.
                ...
92          I will run the pub.
93       I will run the event.
94    I will run the business.
95        I will run the race.
96         I will run errands.
Name: target1, Length: 97, dtype: object

In [43]:
# Find the missing sentences in the csv file by computing the difference between txt_sentences and csv_sentences
different_sentences = list(set(txt_sentences) - set(csv_sentences))
different_sentences

['I will run errands. ',
 'I had troubles. ',
 'I had energy. ',
 'I will run the pub.',
 'I had concerns. ',
 'I had a dinner. ',
 'I will run the show. ',
 'I will run the bar. ',
 'I ate salad with a colleague. ',
 'I had problems. ',
 'The dinner is on time. ',
 'I had been. ',
 'I ate salad with a friend. ',
 'I had finished. ',
 'I had motivation. ',
 'I had a lunch. ',
 'I will run the place. ',
 'I had anxiety. ',
 'I ate salad with abandon. ',
 'I had hope. ',
 'I had fun. ',
 'I had joy. ',
 'I had issues. ',
 'I ate salad with joy. ',
 'I will run the event. ']

In [44]:
# Make a full outer join on csv_sentences and txt_sentences
full_outer_join = pd.merge(csv_sentences, txt_sentences, how="outer", left_on="query", right_on="target1")
# Show only the rows that contain a NaN value
full_outer_join[full_outer_join.isna().any(axis=1)]

                           query                         target1
25                 I had eaten.                              NaN
27               I had a party.                              NaN
31             I had a meeting.                              NaN
32             I had a meeting.                              NaN
38             I had a blister.                              NaN
39               I had a fever.                              NaN
40            I had a headache.                              NaN
41                I had a cold.                              NaN
42               I had a cough.                              NaN
62        I will run the study.                              NaN
63   I will run the restaurant.                              NaN
64        I will run the store.                              NaN
65           I will run the lab.                             NaN
66         I will run the shop.                              NaN
69      I will run the marathon                              NaN
70         I will run the course                             NaN
71          I will run the trail                             NaN
72           I will run the mile                             NaN
88      I ate salad with gusto.                              NaN
89   I ate salad with pleasure.                              NaN
90        I ate salad with him.                              NaN
91       I ate salad with John.                              NaN
94                           NaN                    I had been.
95                           NaN                I had finished.
96                           NaN                I had problems.
97                           NaN                I had concerns.
98                           NaN                I had troubles.
99                           NaN                 I had anxiety.
100                          NaN                  I had issues.
101                          NaN                     I had fun.
102                          NaN                     I had joy.
103                          NaN                    I had hope.
104                          NaN                  I had energy.
105                          NaN              I had motivation.
106                          NaN                I had a dinner.
107                          NaN                 I had a lunch.
108                          NaN      I ate salad with abandon.
109                          NaN          I ate salad with joy.
110                          NaN     I ate salad with a friend.
111                          NaN  I ate salad with a colleague.
112                          NaN         The dinner is on time.
113                          NaN           I will run the show.
114                          NaN          I will run the place.
115                          NaN            I will run the bar.
116                          NaN             I will run the pub.
117                          NaN          I will run the event.
118                          NaN            I will run errands.

In [45]:
# Do a right join
right_join = pd.merge(csv_sentences, txt_sentences, how="right", left_on="query", right_on="target1")
right_join[right_join.isna().any(axis=1)]

   query                         target1
37   NaN                    I had been.
39   NaN                I had finished.
40   NaN                I had problems.
41   NaN                I had concerns.
42   NaN                I had troubles.
43   NaN                 I had anxiety.
44   NaN                  I had issues.
45   NaN                     I had fun.
46   NaN                     I had joy.
47   NaN                    I had hope.
48   NaN                  I had energy.
49   NaN              I had motivation.
55   NaN                I had a dinner.
59   NaN                 I had a lunch.
73   NaN      I ate salad with abandon.
74   NaN          I ate salad with joy.
75   NaN     I ate salad with a friend.
76   NaN  I ate salad with a colleague.
86   NaN         The dinner is on time.
89   NaN           I will run the show.
90   NaN          I will run the place.
91   NaN            I will run the bar.
92   NaN             I will run the pub.
93   NaN          I will run the event.
96   NaN            I will run errands.

In [47]:
# Open "pseudowords/MaPP_Dataset.csv" as a pandas DataFrame
csv_df = pd.read_csv("./pseudowords/MaPP_Dataset.csv")
csv_df

,query,mask,ambigous_word,sense,template,label,Unnamed: 6
0,The clip is about a horse.,horse,about,topic,The clip is about (a),1,NaN
1,The clip is about a queen.,queen,about,topic,The clip is about (a),1,NaN
2,The clip is about a cat.,cat,about,topic,The clip is about (a),1,NaN
3,The clip is about a king.,king,about,topic,The clip is about (a),1,NaN
4,The clip is about a prince.,prince,about,topic,The clip is about (a),1,NaN
...,...,...,...,...,...,...,...
92,I ate salad with joy.,joy,with,feeling,I ate salad with (a),2,NaN
93,I ate salad with Lisa.,Lisa,with,accompanier,I ate salad with (a),3,NaN
94,I ate salad with her.,her,with,accompanier,I ate salad with (a),3,NaN
95,I ate salad with a friend.,friend,with,accompanier,I ate salad with (a),3,NaN
96,I ate salad with a colleague.,colleague,with,accompanier,I ate salad with (a),3,NaN